# Supabase
VITE_SUPABASE_URL=your_supabase_project_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key

# Payment Link (Nubank ou Eduzz/Hotmart)
VITE_URL_PAGAMENTO=https://checkout.nubank.com.br/tklN8xuaHEzmpoc
